@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #c9c9c9;
    padding: 10px 10%;
    
}
header, a {
    color: #303030;
    text-decoration: none;
    padding-right: 50px;
}
nav {
    background-color: #ffa12b;
    height: 150px;
}
.logo {
    width: 200px;
    
}