@charset "UTF-8";

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 4%;
    background-color: #ffa12b;
}
header a {
    color: #1d1c1c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{ 
    color: #01dafe;
    transform: scale(1.05);
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}
